<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSTransaccionesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51953/WSTransacciones.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSTransaccionesSoap"
                contract="WST.WSTransaccionesSoap" name="WSTransaccionesSoap" />
        </client>
    </system.serviceModel>
</configuration>
